* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
button {
  font: 16px Roboto, sans-serif;
}

header {
  height: 8vh;
  background: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-align: center;
  color: #f3f3f3;
}


footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
 font-size: 16px; 
 color: #f1f1f1
}